{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Estudio Caribe</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="">

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/home_text.css' %}">

</head>

<body class="noscroll">
  <div class="content">
  <header>
      <h1>
        <a href="/">Estudio Caribe</a>
      </h1>
  </header>
<h2>Edit home text</h2>

<form method="POST" action="/home-text/edit">
    {% csrf_token %}
    <textarea type="textarea" name="home_text" id="home-text" class="textarea"></textarea>
    <input class="btn-download" type="submit" value="Submit">
</form>

<p class="home-text">{{home_text}}</p>

  <footer>
    &#169; estudio caribe, formerly Modo Forma SRL. All rights reserved.
  </footer>
  </div>

  
</body>
</html>